
.retailerbilling * {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 9pt !important;
    padding-left: 0;
}

.retailerbilling .page {
	width: 175mm;
	#height: 272mm;
	padding: 0mm 15mm 18mm 15mm !important;
	border: 1px solid #ccc;
	margin: auto;
	overflow: hidden;
	clear: both;
	line-height: 1.2em !important;
}

.retailerbilling .page.details {
	height: auto;
	width: 190mm;
	min-height: 277mm;
	padding: 10mm !important;
	page-break-before: always;
}

.retailerbilling .page.details.billingparts {
	page-break-before:auto !important;
	min-height: 0mm;
}

.retailerbilling .page.details table {
	page-break-before: auto;
}

.retailerbilling .page .page-header {
	margin: 0 0 0 -6mm;
	line-height: 27mm !important;
	height: 27mm !important;
}

.retailerbilling .page .page-header img {
	display: block;
	margin: 10mm auto -6mm auto;
}

.retailerbilling .addresses {
	margin-top: 8mm;
	margin-left: -5mm;
    height: 37mm;
    overflow: hidden
    width: 85mm !important;
    float: left;
}

.retailerbilling .addresses .sender {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt !important;
    line-height: 5mm;
    height: 5mm;
    overflow: hidden;
    width: 80mm !important;
	padding-left: 5mm;
}

.retailerbilling .addresses .recepient {
    font-size: 12pt !important;
    line-height: 1.3em !important;
    height: 34mm;
    overflow: hidden;
    width: 77mm !important;
	padding: 3mm 3mm 3mm 5mm;
}

.retailerbilling .data {
	padding-top: 7mm;
    height: 37mm;
    overflow: hidden
    width: 95mm !important;
    float: right;
    margin-top: 5mm;
}

.retailerbilling .data td.datalabel {
	padding-right: 5mm;
}

.retailerbilling .references {
	margin-top: 8.46mm;
	
}

.retailerbilling .content {
	padding: 3mm 0;
}

.retailerbilling .content table {
	border-collapse: collapse;
	width: 174mm;
}

.retailerbilling .content table th {
	border: 1px solid #000;
	padding: 0 1mm !important;
}

.retailerbilling .content table td {
	border: 1px solid #000;
	border-width: 0 1px;
	padding: 0 1mm !important;
}

.retailerbilling .content table tr.last td {
	border-bottom: 1px solid #000;
}

.retailerbilling .content table td.editable {
    background-color: #ff9;
}

.retailerbilling .content table td.editable input {
    width: 100%;
}

.retailerbilling .content table tr.noborder th, 
.retailerbilling .content table tr.noborder td,
.retailerbilling .content table td.noborder {
	border: 0;
}

.retailerbilling .content table tr.sum td {
	border-width: 0;
	border-top: 1px solid #000;
	border-bottom: 3px double #000;
}

.retailerbilling .page.details table {
	margin-top: -1px;
	width: 190mm !important;
}

.retailerbilling .page.details table table {
	width: auto !important;
}

.retailerbilling .page.details th {
	font-weight: normal;
}

.retailerbilling .page.details td, .retailerbilling .page.details th {
	padding: 0 1mm !important;
}

.retailerbilling .page.details table.retailer-transaction .head {
	width: 70mm !important;
	margin: 10mm 0 5mm -5px;
}

.retailerbilling .page.details table.retailer-transaction .head td.desc {
	width: 15mm !important;
}

.retailerbilling .page.details table.retailer-transaction .head td.value {
	width: 55mm !important;
}

.retailerbilling form input {
    margin:0 !important;
	padding: 0 !important;    
}

.retailerbilling form input.small {
    width: 15mm;
    padding: 0mm !important;
    text-align: right;
    border: 0 !important;
    background-color: transparent !important;
}

.retailerbilling form input.add-custom-row, .retailerbilling form input.del-custom-row {
    padding: 0 !important;
    margin: 0 0 1px 0 !important;
    border: 0 !important;
    background-image: url("../images/plus.png");
    background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.retailerbilling form input.del-custom-row {
    background-image: url("../images/minus.png");
    background-repeat: no-repeat;
}

.retailerbilling form input.wide {
    width: 100%;
    border: 0 !important;
    background-color: transparent !important;
}

.retailer-footnotes {
    font-style: italic;
    font-size: 10pt;
    color: #999999;
}

.container-fluid table.sonata-ba-list tr.invoiced td,
.container-fluid table.sonata-ba-list tr.pre-billed td {
    background-color: #cfc;
}

.container-fluid table.sonata-ba-list tr.pre-invoiced td {
    background-color: yellow;
}

.taright {
	text-align: right !important;
}

.tacenter {
	text-align: center !important;
}

.taleft {
	text-align: left !important;
}

.vatop {
	vertical-align: top;
}

.narrow {
	width: 1px !important;
	white-space: nowrap;
}

.small {
	font-size: 7pt !important;
}

.nowrap {
	white-space:nowrap;
}

.clear {
	clear: both;
}

td.double {
	border-top: 4px double #000 !important;
}

td.nobottom {
	border-bottom: 0;
}

.border {
	border: 1px solid #000 !important;
}

.dark {
	background-color: #333;
	color: #fff;
}